<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrderServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600">
                    <security mode="Transport" />
                </binding>
                <binding name="InventoryServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600">
                    <security mode="Transport" />
                </binding>
                <binding name="ShippingServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600">
                    <security mode="Transport" />
                </binding>
                <binding name="ListingServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600">
                    <security mode="Transport" />
                </binding>
                <binding name="AdminServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600">
                    <security mode="Transport" />
                </binding>
                <binding name="AdminServiceSoap1" />
                <binding name="InventoryServiceSoap1" />
                <binding name="ListingServiceSoap1" />
                <binding name="OrderServiceSoap1" />
                <binding name="ShippingServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/AdminService.asmx" binding="basicHttpBinding" bindingConfiguration="AdminServiceSoap" contract="AdminService.AdminServiceSoap" name="AdminServiceSoap" />
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/InventoryService.asmx" binding="basicHttpBinding" bindingConfiguration="InventoryServiceSoap" contract="InventoryService.InventoryServiceSoap" name="InventoryServiceSoap" />
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/ListingService.asmx" binding="basicHttpBinding" bindingConfiguration="ListingServiceSoap" contract="ListingService.ListingServiceSoap" name="ListingServiceSoap" />
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/OrderService.asmx" binding="basicHttpBinding" bindingConfiguration="OrderServiceSoap" contract="OrderService.OrderServiceSoap" name="OrderServiceSoap" />
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/ShippingService.asmx" binding="basicHttpBinding" bindingConfiguration="ShippingServiceSoap" contract="ShippingService.ShippingServiceSoap" name="ShippingServiceSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Netco" publicKeyToken="9d732c15ac2ec2c9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
