<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrderServiceSoap" maxReceivedMessageSize="65536000">
                    <security mode="Transport" />
                </binding>
                <binding name="InventoryServiceSoap" maxReceivedMessageSize="65536000">
                    <security mode="Transport" />
                </binding>
                <binding name="ShippingServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ListingServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AdminServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="InventoryServiceSoap1" />
                <binding name="AdminServiceSoap1" />
                <binding name="ListingServiceSoap1" />
                <binding name="OrderServiceSoap1" />
                <binding name="ShippingServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v6/InventoryService.asmx"
                binding="basicHttpBinding" bindingConfiguration="InventoryServiceSoap"
                contract="InventoryService.InventoryServiceSoap" name="InventoryServiceSoap" />
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v6/AdminService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AdminServiceSoap"
                contract="AdminService.AdminServiceSoap" name="AdminServiceSoap" />
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v6/ListingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ListingServiceSoap"
                contract="ListingService.ListingServiceSoap" name="ListingServiceSoap" />
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v6/OrderService.asmx"
                binding="basicHttpBinding" bindingConfiguration="OrderServiceSoap"
                contract="OrderService.OrderServiceSoap" name="OrderServiceSoap" />
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v6/ShippingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ShippingServiceSoap"
                contract="ShippingService.ShippingServiceSoap" name="ShippingServiceSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
